body {
    margin: 0;
    font-family: 'Nanum Gothic';
}

#top {
    height: 20vh; width: 100vw;
    background-color: white;
    border-bottom: 0.28vw solid darkgray; 
    display: flex;
}

#top-left, #top-middle, #top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner {
    width: 100%; height: auto;
    font-size: 2.35vw;
    letter-spacing: 0.18vw;
    text-align: center;
    font-family: 'Nanum Gothic';
    color: rgb(38,35,38);
    background-color: rgb(251,251,251);
    border: 0.1em solid dodgerblue; 
    border-radius: 20em;
    box-shadow: 0.065em 0.16em 0.2em gray;
    padding: 1.37vw 1.67vw;
    margin: auto;
}

#banner-orange {
    width: 100%; height: auto;
    font-size: 2.35vw;
    letter-spacing: 0.18vw;
    text-align: center;
    font-family: 'Nanum Gothic';
    color: rgb(38,35,38);
    background-color: rgb(251,251,251);
    border: 0.1em solid darkorange; 
    border-radius: 20em;
    box-shadow: 0.065em 0.16em 0.2em rgb(240,160,0);
    padding: 1.37vw 1.67vw;
    margin: auto;
}

#main-content {
    height: 72vh;
    background-color: rgb(22,20,21);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-modal {
    height: 55vh; width: 40%;
    background-color: rgb(251,251,251);
    border: 0.28vw solid darkgray;
    border-radius: 2.75vw;
    box-shadow: 0.4vw 0.4vw 2vw black;
    text-align: center;
}

#welcome {
    height: 100%;
    font-size: 6vh;
    padding-left: 5%; padding-right: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.modal-input {
    margin-top: 2.25%; 
    height: 20%; width: 65%;
    font-size: 3.5vh;
    color: rgb(40,40,40)
}

#call-modal {
    height: 45vh; width: 30%;
    background-color: rgb(251,251,251);
    border: 0.28vw solid darkgray;
    border-radius: 2.75vw;
    box-shadow: 0.4vw 0.4vw 2vw black;
    text-align: center;
}

#call-modal-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5%; padding-right: 5%;
}

#wait-or-call {
    height: 27%; width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: flex-end
}

.small-modal-text {
    font-size: 2.25vh
}

.medium-modal-text {
    font-size: 3.5vh
}

#video-container {
    width: 100%; height: 100%;
    display: flex;
}

#left-video-container, #right-video-container {
    width: 49%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-video, #right-video {
    width: 100%; height: auto;
    max-height: 100%;
}

#left-video-controls {
    width: 49vw; height: 9vh;
    position: fixed;
    bottom: 7.3vh; 
    display: flex;
    justify-content: center;
}

#right-video-controls {
    width: 49vw; height: 9vh;
    position: fixed;
    bottom: 7.3vh; 
    display: flex;
    justify-content: center;
}

#left-video-username, #right-video-username {
    height: 6vh; width: auto;
    padding: 0.1vh 2vw;
    line-height: 6vh;
    font-size: 3vh;
    letter-spacing: 0.1vw;
    text-align: center;
    font-family: 'Nanum Gothic';
    color: rgb(38,35,38);
    background-color: rgb(251,251,251);
    border: 0.1em solid dodgerblue; 
    border-radius: 20em;
    box-shadow: 0.035em 0.09em 0.1em gray;
}

#bottom {
    height: 7vh;
    background-image: linear-gradient(to bottom, rgb(250,250,250), rgb(225,225,225), rgb(225,225,225), rgb(141,141,141));
    background-repeat: no-repeat;
    border-top: 0.28vw solid darkgray
}